@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
body {
  background-color: #9999d3;
}

.container {
  margin-top: 20px;
  width: 90%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hex-code-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hex-code-wrapper p {
  font-size: 4rem;
  font-family: 'Aboreto', cursive;
  -webkit-animation: changeColor 4s linear infinite;
          animation: changeColor 4s linear infinite;
  text-align: center;
}

.hex-code-wrapper h3 {
  font-size: 4rem;
  font-family: 'Aboreto', cursive;
  text-align: center;
}

.hex-code-wrapper button {
  margin-top: 50px;
}

@-webkit-keyframes changeColor {
  0% {
    color: #c83030;
  }
  20% {
    color: #ffff64;
  }
  40% {
    color: #64ff71;
  }
  60% {
    color: #6471ff;
  }
  80% {
    color: #ff64ed;
  }
  100% {
    color: #ff6464;
  }
}

@keyframes changeColor {
  0% {
    color: #c83030;
  }
  20% {
    color: #ffff64;
  }
  40% {
    color: #64ff71;
  }
  60% {
    color: #6471ff;
  }
  80% {
    color: #ff64ed;
  }
  100% {
    color: #ff6464;
  }
}

@media screen and (max-width: 480px) {
  .hex-code-wrapper p {
    font-size: 3rem;
  }
  .hex-code-wrapper h3 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 380px) {
  .hex-code-wrapper p {
    font-size: 2.5rem;
  }
  .hex-code-wrapper h3 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 240px) {
  .hex-code-wrapper p {
    font-size: 2rem;
  }
  .hex-code-wrapper h3 {
    font-size: 2rem;
  }
  .hex-code-wrapper button {
    width: 150px;
  }
}

@media screen and (max-width: 195px) {
  .hex-code-wrapper p {
    font-size: 1.5rem;
  }
  .hex-code-wrapper h3 {
    font-size: 1.5rem;
  }
  .hex-code-wrapper button {
    width: 130px;
    height: 70px;
    font-size: 1rem;
  }
}
