@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
body {
  background-color: #9999d3;
}

.container {
  border: 1px solid grey;
  width: 90%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hex-code-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hex-code-wrapper p {
  font-size: 4rem;
  font-family: 'Aboreto', cursive;
  -webkit-animation: changeColor 4s linear infinite;
          animation: changeColor 4s linear infinite;
}

.hex-code-wrapper h3 {
  font-size: 4rem;
  font-family: 'Aboreto', cursive;
}

@-webkit-keyframes changeColor {
  0% {
    color: #c83030;
  }
  20% {
    color: #ffff64;
  }
  40% {
    color: #64ff71;
  }
  60% {
    color: #6471ff;
  }
  80% {
    color: #ff64ed;
  }
  100% {
    color: #ff6464;
  }
}

@keyframes changeColor {
  0% {
    color: #c83030;
  }
  20% {
    color: #ffff64;
  }
  40% {
    color: #64ff71;
  }
  60% {
    color: #6471ff;
  }
  80% {
    color: #ff64ed;
  }
  100% {
    color: #ff6464;
  }
}
